
* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    font-size: 100%;
}

body {
    background-color: rgba(128, 128, 128, 0.8);
    margin: 0;
}


.grocery-image img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

.grocery-specs {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grocery-specs h2 {
    color: black;
    font-weight: 900;
    margin-bottom: 3rem;
}


/* .grocery-specs p span {
    color: black;
    font-weight: bold;
    margin-right: 0.5rem;
} */


.grocery-specs p {
    color: black;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    display: flex; /* Added */
    flex-wrap: wrap; /* Added */
}

.grocery-specs p span {
    color: black;
    font-weight: bold;
    margin-right: 0.5rem;
    white-space: nowrap; /* Added */
}

.grocery-details {
    list-style: none;
    padding: 0;
    margin-bottom: 5rem;
}

.grocery-details li {
    display: flex;
    margin-bottom: 0.5rem;
}

.grocery-details li span {
    font-weight: bold;
    margin-right: 0.5rem;
}

.product-container {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    background-color: white;
    border: 1px solid black;
    margin: 2rem;
}




