
* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    font-size: 100%;
}

body {
    background-color: rgba(128, 128, 128, 0.8);
    margin: 0;
}

header .navbar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 0.5rem 1.3rem;
    align-items: center;
    margin-bottom: 0.8%;
}

header .navbar .product-list {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

header .navbar .product-list li a {
    text-decoration: none;
}

header .product-name {
    font-size: 2rem;
    color: cadetblue;
}

main .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.main-product {
    border: 1px solid black;
    padding: 1rem;
    background-color: white;
    text-align: center;
}

.main-product h2 {
    margin-bottom: 1rem;
    font-weight: 600;
}

.main-product a {
    text-decoration: none;
}

.main-product img {
    max-width: 100%;
    width: 100%;
    height: 300px;
    margin: 0 auto 1rem auto;
    display: block;
    object-fit: contain;
}

footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.footer-class {
    margin: 0;
}